################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/raf_score_DB/.vs/raf_score_DB/CopilotIndices/17.13.444.19527
/raf_score_DB/.vs/raf_score_DB/FileContentIndex/6bfd1cf4-24c4-4423-90bc-01f67a953a8a.vsidx
